body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--color-text-body);
  background-color: var(--color-background-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-height: 100vh; /* fallback */
  user-select: none;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-600) transparent;
  outline: none;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s,
    opacity 0.25s, outline-color 0.25s;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--color-input) inset !important; /* đổi nền */
  -webkit-text-fill-color: var(--color-text-title) !important; /* màu chữ */
  transition: background-color 5000s ease-in-out 0s; /* ngăn nhảy màu */
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #bd720f;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}

.bg-type-margin {
  background: linear-gradient(127.72deg, #4531e0 14.81%, #ae5ef1 100.61%);
}

.orderStt_PX,
.orderStt_PCX,
.orderStt_PCMX .orderStt_PMX,
.orderStt_PMCX,
.orderStt_PWX,
.orderStt_PCWX,
.orderStt_1,
.orderStt_2 {
  border-color: var(--color-red-500);
  color: var(--color-red-500);
}

.orderStt_PW,
.orderStt_P,
.orderStt_PC,
.orderStt_PMC,
.orderStt_0 {
  border-color: var(--color-yellow-500);
  color: var(--color-yellow-500);
}
.orderStt_PM,
.orderStt_PCM {
  color: var(--color-green-500);
  border-color: var(--color-green-500);
}
