.i,
.g {
  color: var(--color-stock-text-green) !important;
}

.u .bg-status-index {
  background-color: var(--color-success-darker) !important;
}

.d .bg-status-index {
  background-color: var(--color-error-darker) !important;
}

.e {
  color: var(--color-stock-text-yellow) !important;
}

.e .bg-status-index {
  background-color: var(--color-warning-darker) !important;
}

.f .bg-status-index {
  background-color: var(--color-infomation-darker) !important;
}

.c .bg-status-index {
  background-color: var(--color-features-darker) !important;
}

/* TODO: Màu flash bảng giá */
.cell {
  transition: none !important;
  will-change: background-color, color;
}
.UP,
.u {
  color: var(--color-stock-text-green) !important;
}

.DOWN,
.d {
  color: var(--color-stock-text-red) !important;
}

.CEIL,
.c {
  color: var(--color-stock-text-purple) !important;
}

.FLOOR,
.f {
  color: var(--color-stock-text-blue) !important;
}

.REF,
.EQUAL,
.r {
  color: var(--color-stock-text-yellow) !important;
}

.cell[data-flash="u"] {
  background-color: #22c55e !important;
  color: var(--color-primary-darker) !important;
}
.cell[data-flash="d"] {
  background-color: #ef4444 !important;
  color: var(--color-primary-darker) !important;
}
.cell[data-flash="c"] {
  background-color: #a855f7 !important;
  color: var(--color-primary-darker) !important;
}
.cell[data-flash="f"] {
  background-color: #3b82f6 !important;
  color: var(--color-primary-darker) !important;
}
.cell[data-flash="r"] {
  background-color: #eab308 !important;
  color: var(--color-primary-darker) !important;
}

.cell[data-flash] {
  animation: flashOff 0.18s forwards;
}

@keyframes flashOff {
  to {
    background-color: transparent !important;
    color: inherit !important;
  }
}

/* TODO : Đổi bg của bảng giá */
/* trần */
[data-key="ceil"] {
  background-color: rgb(209 213 219 / 10%);
  color: var(--color-stock-text-purple) !important;
}
/* sàn */
[data-key="floor"] {
  background-color: rgb(209 213 219 / 10%);
  color: var(--color-stock-text-blue) !important;
}
/*  tham chiếu */
[data-key="ref"] {
  background-color: rgb(209 213 219 / 10%);
  color: var(--color-stock-text-yellow) !important;
}

/* trần, sàn, tham chiếu */
[data-key="ceil"],
[data-key="floor"],
[data-key="ref"],
/* Khớp lệnh */
[data-key="lastPrice"],
[data-key="lastVolume"],
[data-key="change"],
[data-key="changePc"],
/* Cao, thấp, tb, tổng khối lượng */
[data-key="high"],
[data-key="avg"],
[data-key="low"],
[data-key="totalVol"] {
  background-color: rgb(209 213 219 / 10%);
}

/* hightlight mã chứng khoán */
@keyframes flash-highlight {
  0% {
    background-color: rgba(255, 255, 100, 0.8);
  }
  100% {
    background-color: transparent;
  }
}
