.hide-scrollbar::-webkit-scrollbar {
  display: none !important; /* Ẩn trên Chrome, Safari */
}
.hide-scrollbar {
  -ms-overflow-style: none !important; /* Ẩn trên IE và Edge */
  scrollbar-width: none !important; /* Ẩn trên Firefox */
}

/**------------------------------------------------------------
*!perfect scrollbar
---------------------------------------------------------------*/
.ps__rail-x {
  height: 6px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  height: 6px;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-x.ps--clicking {
  opacity: 0.9;
  height: 6px;
}

.ps__thumb-x {
  height: 6px;
  bottom: 0;
}

.ps__thumb-y,
.ps__rail-y {
  width: 0px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 6px;
}

.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
  opacity: 0.9;
  width: 6px;
}
